<div class="mt-4">
    <h3>Tạo người dùng mới</h3>

<form method="POST" action="/users/store">
  <div class="form-group">
    <label for="user_name">Họ tên</label>
    <input type="text" class="form-control" id="user_name" name="user_name">
  </div>


  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email">
  </div>

 <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password">
  </div>

  <button type="submit" class="btn btn-primary mt-4">Thêm người dùng</button>
</form>

</div>