<div class='mt-4'>
  <h3>Tạo nhà hàng mới</h3>

  <form method='POST' action='/restaurants/store'>
    <div class='form-group'>
      <label for='res_name'>Tên nhà hàng</label>
      <input type='text' class='form-control' id='res_name' name='res_name' />
    </div>

    <div class='form-group'>
      <label for='desc'>Mô tả</label>
      <textarea class='form-control' id='desc' name='desc'></textarea>
    </div>

    <div class='form-group'>
      <label for='videoID'>VideoID</label>
      <input type='text' class='form-control' id='videoID' name='videoID' />
    </div>

    <button type='submit' class='btn btn-primary mt-4'>Thêm nhà hàng</button>
  </form>

</div>