<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Order ngay</button>

            <p>Tổng số lượt like: </p>
        </div>

        <div class="col-lg-9">
            <h2>{{restaurant.res_name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{restaurant.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{restaurant.desc}}</p>
        </div>
    </div>
</div>